.ecole-comment-editor-outer {
	width: 100%;
	max-width: 1080px;
}

.ecole-comment-editor-general {
	width: 100%;
	margin-bottom: 15px;
}

.ecole-comment-editor-wrapper {
	width: 100%;
	display: flex;
}

.ecole-comment-sidebar-outer {
	min-width: 100px;
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
}

.ecole-comment-item-wrapper {
	position: relative;
}

.ecole-comment-item-wrapper .aops-quill-la-writing {
	border: 1px solid #aaa;
}

.ecole-comment-editor-add-comment,
.ecole-comment-editor-delete-comment {
	z-index: 10000;
	text-align: center;
	font-weight: bold;
	width: 20px;
	cursor: pointer;
	display: none;
	position: absolute;
	top: 0;
	right: 5px;
	color: #fff;
	font-size: 11px;
	padding: 2px;
	opacity: 0.4;
}

.ecole-comment-editor-add-comment {
	background: blue;
}

.ecole-comment-editor-delete-comment {
	background: red;
}

.ecole-comment-editor-add-comment:hover,
.ecole-comment-editor-delete-comment:hover {
	opacity: 0.3;
}

.ecole-comment-sidebar-wrapper {
	flex: 1 0 auto;
	padding-left: 5px;
	min-width: 160px;
}

.ecole-comment-sidebar-inner {
	height: 100%;
	position: relative;
}

.ecole-comment-item-highlighted {
	cursor: pointer;
	background: #fea;
}

.ecole-comment-item-highlighted.hover {
	background: #fd7;
}

.ecole-comment-item-highlighted.active {
	background: #fc5;
}

.ecole-comment-sidebar-comment-outer {
	position: absolute;
	width: calc(100% - 15px);
	left: 15px;
	min-height: 25px;
}

.ecole-comment-sidebar-comment-wrapper {
	z-index: 10000;
	margin: 0 0 7px;
	background: #fff7cc;
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.ecole-comment-sidebar-comment-outer.active
	.ecole-comment-sidebar-comment-wrapper {
	background: #fd7;
}

.ecole-comment-sidebar-comment-wrapper:hover {
	background: #fea;
}

.ecole-comment-sidebar-comment-inner {
	padding: 2px 5px;
	word-wrap: break-word;
}

.ecole-comment-sidebar-comment-edit {
	padding: 5px 5px;
}

.ecole-comment-general-comment-edit textarea,
.ecole-comment-sidebar-comment-edit textarea {
	resize: none;
	width: 100%;
	margin: 3px 0px;
}

.ecole-comment-general-comment-edit .actions,
.ecole-comment-sidebar-comment-edit .actions {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.ecole-comment-general-comment-outer {
	margin-top: 5px;
	border: 1px solid #aaa;
}

.ecole-comment-general-comment-inner {
	padding: 4px 6px;
}

.ecole-comment-general-comment-edit {
	background: #eee;
	padding: 5px 7px;
}
