.btn {
	height: 24px;
	line-height: 24px;
}

input[type="checkbox"],
input[type="radio"] {
	top: 0px;
}

.cmty-cat-cell-cat-info {
	display: none;
}

.cmty-cat-cell-search {
	display: none;
}

#feed-global-tab {
	display: none;
}

#feed-privates-tab {
	display: none;
}

#feed-wrapper {
	z-index: 99999;
}

/**
 If we ever turn on PMs in the Academy, search community_models.js for "in_academy" to
 find where to turn on PM notifications.
**/
.cmty-pm-from-post {
	display: none;
}

.hw-blocks-table {
	box-shadow: 2px 2px 6px #bbb;
	width: 100%;
	margin: 0 auto 14px;
}

.hw-blocks-table-caption {
	background-color: #1b365d;
	text-align: left;
	padding: 6px 0px 6px 12px;
	color: white;
	box-shadow: 2px 2px 6px #bbb;
	font-weight: bold;
	font-size: 18px;
}

.hw-blocks-table-completed-true {
	background-color: #3da000;
}

.hw-blocks-table td {
	min-width: 32px;
	border: 1px solid white;
	padding: 6px;
	text-align: center;
}

.hw-blocks-table td.check {
	width: 5%;
}

.hw-blocks-table td.chapter-name {
	text-align: left;
	width: 28%;
	padding: 6px 10px;
}

.hw-blocks-table td.block-name {
	text-align: left;
	padding: 6px 10px;
}

.hw-blocks-table td.stars,
.hw-blocks-table td.time {
	width: 9%;
}

.hw-blocks-table td.play {
	width: 12%;
}

.hw-blocks-table tr:nth-child(odd) {
	background-color: #e1e1e1;
}

.hw-blocks-table tr:nth-child(even) {
	background-color: #f2f2f2;
}

.hw-blocks-test-table {
	width: 100%;
	margin: 0 auto 14px;
}

.hw-blocks-test-table td {
	min-width: 32px;
	border: 1px solid white;
	padding: 6px;
	text-align: center;
}

.hw-blocks-test-table td.check {
	width: 5%;
}

.hw-blocks-test-table td.chapter-name {
	text-align: left;
	width: 28%;
	padding: 6px 10px;
}

.hw-blocks-test-table td.block-name {
	text-align: left;
	padding: 6px 10px;
}

.hw-blocks-test-table td.stars,
.hw-blocks-test-table td.time {
	width: 9%;
}

.hw-blocks-test-table td.play {
	width: 12%;
}

.hw-blocks-test-table tr:nth-child(odd) {
	background-color: #e1e1e1;
}

.hw-blocks-test-table tr:nth-child(even) {
	background-color: #f2f2f2;
}

.hw-blocks-star-on {
	color: #f3ba00;
}

.hw-blocks-star-off,
.hw-blocks-check-false {
	color: rgba(0, 0, 0, 0.1);
}

.hw-blocks-star {
	display: inline;
	margin: 2px;
	line-height: 10px;
	font-size: 16px;
}

.grid-report-col-left.past {
	background: #999;
	color: white;
}

.clickable {
	cursor: pointer !important;
}

.collapse-optional {
	display: none;
}

.grid-report-row.expanded .grid-report-minibar.optional {
	display: none;
}

.grid-report-row.expanded .grid-report-minibar.optional.expanded {
	display: block;
}
